<header class="flex flex-row">
    <div class="logo">
        <a href="">Carnault</a>
    </div>
    <div class="header-content flex flex-row">
        <div class="desktop-only header-menu">
            <a href="">menu 1</a>
            <a href="">menu 1</a>
            <a href="">menu 1</a>
            <a href="">menu 1</a>
            <a href="">menu 1</a>
        </div>
        <div class="cart">
            <a href=""><img src="images/icons/cart.svg" alt="Cart"></a>
        </div>
        <button class="mobile-only hamburger hamburger--collapse" type="button">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
    </div>
</header>
<nav class="mobile-only mobile-nav">
    <div class="mobile-header-menu p-1 flex flex-column">
        <a href="">Webshop</a>
        <a href="">Laboratory</a>
        <a href="">Factory</a>
        <a href="">Collaboration</a>
        <a href="">About Us</a>
        <a href="">Contact</a>
    </div>
    <div class="mobile-social-links p-1 flex flex-row flex-row-center flex-space-between">
        <a href="" class="p-1"><img src="images/icons/facebook.svg" alt="Facebook"></a>
        <a href="" class="p-1"><img src="images/icons/twitter.svg" alt="Facebook"></a>
        <a href="" class="p-1"><img src="images/icons/instagram.svg" alt="Facebook"></a>
        <a href="" class="p-1"><img src="images/icons/youtube.svg" alt="Facebook"></a>
    </div>
</nav>