<header class="flex flex-row">
    <div class="logo">
        <a href="">Carnault</a>
    </div>
    <div class="header-content flex flex-row">
        <div class="desktop-only header-menu">
            <a href="">menu 1</a>
            <a href="">menu 1</a>
            <a href="">menu 1</a>
            <a href="">menu 1</a>
            <a href="">menu 1</a>
        </div>
        <div class="cart">
            <a href=""><img src="images/icons/cart.svg" alt="Cart"></a>
        </div>
        <button class="mobile-only hamburger hamburger--collapse" type="button">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
    </div>
</header>