<section id="home-hero">
    <marquee behavior="" direction="">presale! order all product with 30% discount!</marquee>
    <div class="container">
        <img src="images/hero.jpg" alt="Carnault" class="mobile-only">
        <img src="images/hero-desktop.png" alt="Carnault" class="desktop-only">
        <h1>The Cigarette Without Borders</h1>
        <div class="flex flex-row">
            <div class="img">
                <img src="images/icons/basel.svg" alt="">
            </div>
            <p>Basel, Switzerland</p>
        </div>
        <div class="grid grid-2 mobile-only">
            <a href="about.html" class="btn mb-1">About Us</a>
            <a href="webshop.html" class="btn mb-1">Product info</a>
        </div>
    </div>
</section>