<section id="home-slider">
    <div class="swiper homeSwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="images/carnault-9.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="images/carnault-2.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="images/carnault-3.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="images/carnault-4.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="images/carnault-5.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="images/carnault-9.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="images/carnault-2.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="images/carnault-3.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="images/carnault-4.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="images/carnault-5.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="images/carnault-9.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="images/carnault-2.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="images/carnault-3.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="images/carnault-4.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="images/carnault-5.png" alt="">
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    var swiper = new Swiper(".homeSwiper", {
        slidesPerView: 5,
        spaceBetween: 30,
        centeredSlides: true,
        loop: true,
        autoplay: {
            delay: 10,
            disableOnInteraction: false,
        },
        speed: 5000,
        breakpoints: {
            991: {
                slidesPerView: 15,
                spaceBetween: 20
            }
        }
    });

    var packageSwiper = new Swiper(".packageSwiper", {
        pagination: {
            el: ".swiper-pagination",
        },
        centeredSlides: true,
    });
</script>