<section id="home-moment">
    <div class="container">
        <div class="grid grid-2 grid-m-1">
            <h1>A moment to share</h1>
            <p>Each starter kit is always equipped with two Carnault cigarettes making it easy to share with the people you love.</p>
            <a href="webshop.html" class="btn">Go to webshop</a>
        </div>
    </div>
    {% include "home-package-swiper.html" %}
    <div class="desktop-only py-3">
        <div class="container">
            <div class="grid grid-2">
                <img src="images/slider-1.jpg" alt="">
                <img src="images/slider-2.jpg" alt="">
            </div>
        </div>
    </div>
</section>