<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<script>
    var flavSwiper1 = new Swiper(".flavourSwiper-1", {
    slidesPerView: 1,
    spaceBetween: 0,
    loop: true,
    });
    var middleSwiper1 = new Swiper(".middleSwiper-1", {
    slidesPerView: 1,
    spaceBetween: 0,
    loop: true,
    });
    var batterySwiper1 = new Swiper(".batterySwiper-1", {
    slidesPerView: 1,
    spaceBetween: 0,
    loop: true,
    });
    var flavSwiper2 = new Swiper(".flavourSwiper-2", {
    slidesPerView: 1,
    spaceBetween: 0,
    loop: true,
    });
    var middleSwiper2 = new Swiper(".middleSwiper-2", {
    slidesPerView: 1,
    spaceBetween: 0,
    loop: true,
    });
    var batterySwiper2 = new Swiper(".batterySwiper-2", {
    slidesPerView: 1,
    spaceBetween: 0,
    loop: true,
    });
</script>