{% extends "base.html" %}

{% block content %}
    <div class="container mb-4">
        <h1 class="mt-3 desktop-only">MARIETTA VARGA x Carnault</h1>
        <h1 class="sub mt-1 mobile-only">MARIETTA VARGA x Carnault</h1>
        <div class="grid grid-3 mt-3">
            <p>About the project</p>
            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed qua consequuntur magni dolores. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed qua consequuntur magni dolores. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed qua consequuntur magni dolores.</p>
        </div>
    </div>
    <section class="pb-4 noborder">
        <div class="container">
            <div class="collaborations collaborations-masonry">
                <img src="images/collab/collab-11.png" alt="">
                <img src="images/collab/collab-12.png" alt="">
                <img src="images/collab/collab-13.png" alt="">
                <img src="images/collab/collab-14.png" alt="">
            </div>
            <div class="grid grid-2 grid-m-1 mb-2">
                <div class="mt-2">
                    <p>About Marietta Varga</p>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed qua consequuntur magni dolores. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed qua consequuntur magni dolores.</p>
                </div>
                <div class="mt-2">
                    <p>Carnault - Name</p>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed qua consequuntur magni dolores.</p>
                    <img src="images/collab/collab-11-carnault.png" alt="" class="my-2">
                    <div class="info">
                        <div class="flex flex-row flex-space-between flex-row-center">
                            <p>Size</p>
                            <p>8,4mm x 97mm</p>
                        </div>
                        <div class="flex flex-row flex-space-between flex-row-center">
                            <p>Material</p>
                            <p>Stainless Steel + Cocobolo</p>
                        </div>
                        <div class="flex flex-row flex-space-between flex-row-center">
                            <p>Color</p>
                            <p>Silver + Red</p>
                        </div>
                    </div>
                </div>
            </div>
    </section>
{% endblock %}
