{% extends "base.html" %}

{% block content %}
    <div class="container mb-2">
        <h1 class="sub mb-1">MARIETTA VARGA x Carnault</h1>
        <p>About the project</p>
        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed qua consequuntur magni dolores. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed qua consequuntur magni dolores. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed qua consequuntur magni dolores.</p>
    </div>
    <section class="pb-4 noborder">
        <div class="container">
            <div class="flex flex-column">
                <img src="images/collab/collab-11.png" alt="">
                <img src="images/collab/collab-12.png" alt="">
                <img src="images/collab/collab-13.png" alt="">
                <img src="images/collab/collab-14.png" alt="">
            </div>
            <div class="grid grid-2 grid-m-1 mb-2">
                <div class="mt-2">
                    <p>About Marietta Varga</p>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed qua consequuntur magni dolores. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed qua consequuntur magni dolores.</p>
                </div>
                <div class="mt-2">
                    <p>Carnault - Name</p>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed qua consequuntur magni dolores.</p>
                    <img src="images/collab/collab-11-carnault.png" alt="" class="my-2">
                </div>
            </div>
            <div class="flex flex-row flex-space-between flex-row-center">
                <p>Size</p>
                <p>8,4mm x 97mm</p>
            </div>
            <div class="flex flex-row flex-space-between flex-row-center">
                <p>Material</p>
                <p>Stainless Steel + Cocobolo</p>
            </div>
            <div class="flex flex-row flex-space-between flex-row-center">
                <p>Color</p>
                <p>Silver + Red</p>
            </div>
    </section>
{% endblock %}
