{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1 class="sub">Collaboration</h1>
    </div>
    <section class="pb-4 noborder">
        <div class="container">
            <div class="collaborations collaborations-masonry">
                <div class="collaborator pb-3">
                    <img src="images/collab/collab-1.png" alt="">
                    <div class="grid grid-2 mt-1">
                        <div class="title">
                            <p class="name">Kevin Zhegu</p>
                            <p>Greece</p>
                            <p>2021</p>
                        </div>
                        <div class="button">
                            <a href="collab-single.html" class="btn">Explore</a>
                        </div>
                    </div>
                </div>
                <div class="collaborator pb-3">
                    <img src="images/collab/collab-2.png" alt="">
                    <div class="grid grid-2 mt-1">
                        <div class="title">
                            <p class="name">Kevin Zhegu</p>
                            <p>Greece</p>
                            <p>2021</p>
                        </div>
                        <div class="button">
                            <a href="collab-single.html" class="btn">Explore</a>
                        </div>
                    </div>
                </div>
                <div class="collaborator pb-3">
                    <img src="images/collab/collab-3.png" alt="">
                    <div class="grid grid-2 mt-1">
                        <div class="title">
                            <p class="name">Kevin Zhegu</p>
                            <p>Greece</p>
                            <p>2021</p>
                        </div>
                        <div class="button">
                            <a href="collab-single.html" class="btn">Explore</a>
                        </div>
                    </div>
                </div>
                <div class="collaborator pb-3">
                    <img src="images/collab/collab-4.png" alt="">
                    <div class="grid grid-2 mt-1">
                        <div class="title">
                            <p class="name">Kevin Zhegu</p>
                            <p>Greece</p>
                            <p>2021</p>
                        </div>
                        <div class="button">
                            <a href="collab-single.html" class="btn">Explore</a>
                        </div>
                    </div>
                </div>
            </div>
    </section>
{% endblock %}
