{% extends "base.html" %}

{% block content %}
    <div class="container desktop-only">
        <h1 class="mt-2">Lab</h1>
    </div>
    <section class="pb-4 desktop-only">
        <div class="container">
            <div class="grid grid-3">
                <h1>Explore the flavors of Carnault</h1>
                <p>Underlining the natural product design are flavors which were developed to be reminiscent of natural sceneries, like for example a cold winter day in the alps with clouds moving by or a misty rainforest in the morning. </p>
                <p>Underlining the natural product design are flavors which were developed to be reminiscent of natural sceneries, like for example a cold winter day in the alps with clouds moving by or a misty rainforest in the morning. </p>
            </div>
        </div>
    </section>
    <section class="py-3 desktop-only">
        <div class="container">
            <div class="grid grid-4">
                <div class="lab-flavour">
                    <div class="image mb-1">
                        <img src="images/products/flavour/menthol.png" alt="Menthol">
                    </div>
                    <div class="flavour-name flex flex-row flex-row-start flex-space-between mb-2">
                        <div class="name flex flex-row flex-row-center">
                            <div class="color" style="background: #3eb491;"></div>
                            <p class="nomargin">Menthol</p>
                        </div>
                        <div class="flex flex-column">
                            <p class="nomargin">#decent</p>
                            <p class="nomargin">#floral</p>
                            <p class="nomargin">#slightly woody</p>
                        </div>
                    </div>
                    <p>Underlining the natural product design are flavors which were developed to be reminiscent of natural sceneries, like for example a cold.</p>
                </div>
                <div class="lab-flavour">
                    <div class="image mb-1">
                        <img src="images/products/flavour/massilian.png" alt="Menthol">
                    </div>
                    <div class="flavour-name flex flex-row flex-row-start flex-space-between mb-2">
                        <div class="name flex flex-row flex-row-center">
                            <div class="color" style="background: #EE9376;"></div>
                            <p class="nomargin">Massilian Allure</p>
                        </div>
                        <div class="flex flex-column">
                            <p class="nomargin">#decent</p>
                            <p class="nomargin">#floral</p>
                            <p class="nomargin">#slightly woody</p>
                        </div>
                    </div>
                    <p>Underlining the natural product design are flavors which were developed to be reminiscent of natural sceneries, like for example a cold.</p>
                </div>
                <div class="lab-flavour">
                    <div class="image mb-1">
                        <img src="images/products/flavour/sumatran.png" alt="Menthol">
                    </div>
                    <div class="flavour-name flex flex-row flex-row-start flex-space-between mb-2">
                        <div class="name flex flex-row flex-row-center">
                            <div class="color" style="background: #3EB491;"></div>
                            <p class="nomargin">Sumatran Fog</p>
                        </div>
                        <div class="flex flex-column">
                            <p class="nomargin">#decent</p>
                            <p class="nomargin">#floral</p>
                            <p class="nomargin">#slightly woody</p>
                        </div>
                    </div>
                    <p>Underlining the natural product design are flavors which were developed to be reminiscent of natural sceneries, like for example a cold.</p>
                </div>
                <div class="lab-flavour">
                    <div class="image mb-1">
                        <img src="images/products/flavour/dawn.png" alt="Menthol">
                    </div>
                    <div class="flavour-name flex flex-row flex-row-start flex-space-between mb-2">
                        <div class="name flex flex-row flex-row-center">
                            <div class="color" style="background: #D66B27;"></div>
                            <p class="nomargin">The Dawn of Summer</p>
                        </div>
                        <div class="flex flex-column">
                            <p class="nomargin">#decent</p>
                            <p class="nomargin">#floral</p>
                            <p class="nomargin">#slightly woody</p>
                        </div>
                    </div>
                    <p>Underlining the natural product design are flavors which were developed to be reminiscent of natural sceneries, like for example a cold.</p>
                </div>
                <div class="lab-flavour">
                    <div class="image mb-1">
                        <img src="images/products/flavour/haz.png" alt="Menthol">
                    </div>
                    <div class="flavour-name flex flex-row flex-row-start flex-space-between mb-2">
                        <div class="name flex flex-row flex-row-center">
                            <div class="color" style="background: #819FCB;"></div>
                            <p class="nomargin">Cold Haze</p>
                        </div>
                        <div class="flex flex-column">
                            <p class="nomargin">#decent</p>
                            <p class="nomargin">#floral</p>
                            <p class="nomargin">#slightly woody</p>
                        </div>
                    </div>
                    <p>Underlining the natural product design are flavors which were developed to be reminiscent of natural sceneries, like for example a cold.</p>
                </div>
            </div>
        </div>
    </section>

    {# mobile start #}
    <div class="container mobile-only">
        <h1 class="sub">Laboratory</h1>
    </div>
    <section class="pb-4 noborder mobile-only">
        <div class="container">
            <h1 class="mb-2">Explore the flavors of Carnault</h1>
            <div class="accordion-wrapper">
                <div class="accordion">
                    <div class="accordion-header">
                        <div>Learn more</div>
                        <div class="accordion-arrow">
                            <span>+</span>
                        </div>
                    </div>
                    <div class="accordion-content">
                        <div class="text-block">
                            Underlining the natural product design are flavors which were developed to be reminiscent of natural sceneries, like for example a cold winter day in the alps with clouds moving by or a misty rainforest in the morning. Additionally, we are working with e.g. gingerol to cause a slight and harmless scratching in the throat when inhaling to mimic the feel of tobacco smoke. This way our flavors can reliably offer the cigarette moment we love.
                        </div>
                    </div>
                </div>
                <div class="accordion">
                    <div class="accordion-header">
                        <div class="flavour-name">
                            <div class="color" style="background: #3EB491;"></div>
                            <div class="name">Menthol</div>
                        </div>
                        <div class="accordion-arrow">
                            <span>+</span>
                        </div>
                    </div>
                    <div class="accordion-content accordion-flavour">
                        <img src="images/products/flavour/sumatran-fog.png" alt="Sumatran Fog">
                        <div class="text-block overlay-text-block">
                            <div class="flex flex-row flex-space-between px-1">
                                <div>#lorem</div>
                                <div>#ipsum</div>
                                <div>#sit amet</div>
                            </div>
                        </div>
                        <div class="text-block mt-1">
                            Underlining the natural product design are flavors which were developed to be reminiscent of natural sceneries, like for example a cold .
                        </div>
                    </div>
                </div>
                <div class="accordion">
                    <div class="accordion-header">
                        <div class="flavour-name">
                            <div class="color" style="background: #EE9376;"></div>
                            <div class="name">Massilian Allure</div>
                        </div>
                        <div class="accordion-arrow">
                            <span>+</span>
                        </div>
                    </div>
                    <div class="accordion-content accordion-flavour">
                        <img src="images/products/flavour/sumatran-fog.png" alt="Sumatran Fog">
                        <div class="text-block overlay-text-block">
                            <div class="flex flex-row flex-space-between px-1">
                                <div>#lorem</div>
                                <div>#ipsum</div>
                                <div>#sit amet</div>
                            </div>
                        </div>
                        <div class="text-block mt-1">
                            Underlining the natural product design are flavors which were developed to be reminiscent of natural sceneries, like for example a cold .
                        </div>
                    </div>
                </div>
                <div class="accordion">
                    <div class="accordion-header">
                        <div class="flavour-name">
                            <div class="color" style="background: #297C68;"></div>
                            <div class="name">Sumatran Fog</div>
                        </div>
                        <div class="accordion-arrow">
                            <span>+</span>
                        </div>
                    </div>
                    <div class="accordion-content accordion-flavour">
                        <img src="images/products/flavour/sumatran-fog.png" alt="Sumatran Fog">
                        <div class="text-block overlay-text-block">
                            <div class="flex flex-row flex-space-between px-1">
                                <div>#lorem</div>
                                <div>#ipsum</div>
                                <div>#sit amet</div>
                            </div>
                        </div>
                        <div class="text-block mt-1">
                            Underlining the natural product design are flavors which were developed to be reminiscent of natural sceneries, like for example a cold .
                        </div>
                    </div>
                </div>
                <div class="accordion">
                    <div class="accordion-header">
                        <div class="flavour-name">
                            <div class="color" style="background: #D66B27;"></div>
                            <div class="name">The Dawn of Summer</div>
                        </div>
                        <div class="accordion-arrow">
                            <span>+</span>
                        </div>
                    </div>
                    <div class="accordion-content accordion-flavour">
                        <img src="images/products/flavour/sumatran-fog.png" alt="Sumatran Fog">
                        <div class="text-block overlay-text-block">
                            <div class="flex flex-row flex-space-between px-1">
                                <div>#lorem</div>
                                <div>#ipsum</div>
                                <div>#sit amet</div>
                            </div>
                        </div>
                        <div class="text-block mt-1">
                            Underlining the natural product design are flavors which were developed to be reminiscent of natural sceneries, like for example a cold .
                        </div>
                    </div>
                </div>
                <div class="accordion">
                    <div class="accordion-header">
                        <div class="flavour-name">
                            <div class="color" style="background: #819FCB;"></div>
                            <div class="name">Cold Haze</div>
                        </div>
                        <div class="accordion-arrow">
                            <span>+</span>
                        </div>
                    </div>
                    <div class="accordion-content accordion-flavour">
                        <img src="images/products/flavour/sumatran-fog.png" alt="Sumatran Fog">
                        <div class="text-block overlay-text-block">
                            <div class="flex flex-row flex-space-between px-1">
                                <div>#lorem</div>
                                <div>#ipsum</div>
                                <div>#sit amet</div>
                            </div>
                        </div>
                        <div class="text-block mt-1">
                            Underlining the natural product design are flavors which were developed to be reminiscent of natural sceneries, like for example a cold .
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include "script-accordion.html" %}
{% endblock %}
