{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="flex flex-row flex-space-between flex-row-center">
            <h1 class="sub">Webshop</h1>
            <h1 class="sub">Total: 370€</h1>
        </div>
    </div>
    <section class="py-1">
        <div class="container grid-d grid-d-3">
            <div class="grid grid-2 grid-gap-half mb-1 mobile-only" id="1">
                <div class="grid grid-2 grid-gap-half">
                    <a href="#1" class="btn btn-active">1.</a>
                    <a href="#2" class="btn">2.</a>
                </div>
                <a href="" class="btn">Charging Case</a>
            </div>
            <div class="playground-content">
                <div class="card card-playground">
                    
                    <div class="swiper flavourSwiper-1">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="flavour" style="background: #3EB491">
                                    <div class="name">Menthol</div>
                                    <div class="image">
                                        <img src="images/products/flavour/flavour.png" alt="Flavour">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="flavour" style="background: #297C68;">
                                    <div class="name">Sumatran Fog</div>
                                    <div class="image">
                                        <img src="images/products/flavour/flavour.png" alt="Flavour">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="flavour" style="background: #EE9376;">
                                    <div class="name">Massilian Allure</div>
                                    <div class="image">
                                        <img src="images/products/flavour/flavour.png" alt="Flavour">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="flavour" style="background: #D66B27;">
                                    <div class="name">The Dawn of Summer</div>
                                    <div class="image">
                                        <img src="images/products/flavour/flavour.png" alt="Flavour">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="flavour" style="background: #819FCB;">
                                    <div class="name">Cold Haze</div>
                                    <div class="image">
                                        <img src="images/products/flavour/flavour.png" alt="Flavour">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper middleSwiper-1">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="middle-part" style="background: #c4c4c4">
                                    <div class="name">Silver</div>
                                    <div class="image">
                                        <img src="images/products/middle_part/middle_part_silver.png" alt="Silver">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper batterySwiper-1">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="battery" style="background: #D8BB99;">
                                    <div class="name">Ebonite</div>
                                    <div class="image">
                                        <img src="images/products/battery/01_white.png" alt="Battery">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="battery" style="background: #896956">
                                    <div class="name">Ebonite</div>
                                    <div class="image">
                                        <img src="images/products/battery/02_white.png" alt="Battery">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="battery" style="background: #415f46">
                                    <div class="name">Ebonite</div>
                                    <div class="image">
                                        <img src="images/products/battery/03_white.png" alt="Battery">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="battery" style="background: #415f46">
                                    <div class="name">Ebonite</div>
                                    <div class="image">
                                        <img src="images/products/battery/04_white.png" alt="Battery">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="battery" style="background: #415f46">
                                    <div class="name">Ebonite</div>
                                    <div class="image">
                                        <img src="images/products/battery/05_white.png" alt="Battery">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="battery" style="background: #415f46">
                                    <div class="name">Ebonite</div>
                                    <div class="image">
                                        <img src="images/products/battery/06_white.png" alt="Battery">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="battery" style="background: #415f46">
                                    <div class="name">Ebonite</div>
                                    <div class="image">
                                        <img src="images/products/battery/07_white.png" alt="Battery">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="battery" style="background: #CAC8C2">
                                    <div class="name">Ebonite</div>
                                    <div class="image">
                                        <img src="images/products/battery/08_white.png" alt="Battery">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="battery" style="background: #415f46">
                                    <div class="name">Ebonite</div>
                                    <div class="image">
                                        <img src="images/products/battery/09_white.png" alt="Battery">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="battery" style="background: #415f46">
                                    <div class="name">Ebonite</div>
                                    <div class="image">
                                        <img src="images/products/battery/10_white.png" alt="Battery">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="battery-color-picker-wrapper py-1">
                    <div class="grid grid-2">
                        <div class="battery-color-picker-icon">
                            <div class="color-picker-selected" id="c-selected-1" style="background: url('images/products/battery/colors/01_white.png')"></div>
                            <div class="color-picker-colors" id="c-1">
                                <div class="grid grid-color-picker">
                                    <div class="picker-color-1" id="c-1-01" data-bg="images/products/battery/colors/01_white.png" style="background: url('images/products/battery/colors/01_white.png')"></div>
                                    <div class="picker-color-1" id="c-1-02" data-bg="images/products/battery/colors/02_white.png" style="background: url('images/products/battery/colors/02_white.png')"></div>
                                    <div class="picker-color-1" id="c-1-03" data-bg="images/products/battery/colors/03_white.png" style="background: url('images/products/battery/colors/03_white.png')"></div>
                                    <div class="picker-color-1" id="c-1-04" data-bg="images/products/battery/colors/04_white.png" style="background: url('images/products/battery/colors/04_white.png')"></div>
                                    <div class="picker-color-1" id="c-1-05" data-bg="images/products/battery/colors/05_white.png" style="background: url('images/products/battery/colors/05_white.png')"></div>
                                    <div class="picker-color-1" id="c-1-06" data-bg="images/products/battery/colors/06_white.png" style="background: url('images/products/battery/colors/06_white.png')"></div>
                                    <div class="picker-color-1" id="c-1-07" data-bg="images/products/battery/colors/07_white.png" style="background: url('images/products/battery/colors/07_white.png')"></div>
                                    <div class="picker-color-1" id="c-1-08" data-bg="images/products/battery/colors/08_white.png" style="background: url('images/products/battery/colors/08_white.png')"></div>
                                    <div class="picker-color-1" id="c-1-09" data-bg="images/products/battery/colors/09_white.png" style="background: url('images/products/battery/colors/09_white.png')"></div>
                                    <div class="picker-color-1" id="c-1-10" data-bg="images/products/battery/colors/10_white.png" style="background: url('images/products/battery/colors/10_white.png')"></div>
                                </div>
                            </div>
                        </div>
                        <a href="#2" class="btn mobile-only">Next step</a>
                    </div>
                </div>
                <div class="product-info accordion-wrapper mt-1 mobile-only">
                    <div class="accordion">
                        <div class="accordion-header">
                            <div>Product information</div>
                            <div class="accordion-arrow">
                                <span>+</span>
                            </div>
                        </div>
                        <div class="accordion-content">
                            <div class="text-block">
                                The world’s most stunning e-cigarette. Lorem ipsum sit amet lorem ipsum sit amet ipsum sit amet lorem ipsum sit amet  ipsum sit amet lorem ipsum sit amet.
                            </div>
                        </div>
                    </div>
                    <div class="accordion">
                        <div class="accordion-header">
                            <div>Flavour</div>
                            <div class="accordion-arrow">
                                <span>+</span>
                            </div>
                        </div>
                        <div class="accordion-content accordion-flavour">
                            <img src="images/products/flavour/sumatran-fog.png" alt="Sumatran Fog">
                            <div class="text-block overlay-text-block">
                                <div class="grid grid-2">
                                    <div class="flavour-name">
                                        <div class="color" style="background: #3eb491;"></div>
                                        <div class="name">Sumatran Fog</div>
                                    </div>
                                    <div class="hashtags">
                                        <div>#lorem</div>
                                        <div>#ipsum</div>
                                        <div>#sit amet</div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-block mt-1">
                                The world’s most stunning e-cigarette. Lorem ipsum sit amet lorem ipsum sit amet ipsum sit amet lorem ipsum sit amet  ipsum sit amet lorem ipsum sit amet.
                            </div>
                        </div>
                    </div>
                    <div class="accordion">
                        <div class="accordion-header">
                            <div>Middle part</div>
                            <div class="accordion-arrow">
                                <span>+</span>
                            </div>
                        </div>
                        <div class="accordion-content">
                            <div class="text-block">
                                Silver
                            </div>
                        </div>
                    </div>
                    <div class="accordion">
                        <div class="accordion-header">
                            <div>Battery</div>
                            <div class="accordion-arrow">
                                <span>+</span>
                            </div>
                        </div>
                        <div class="accordion-content">
                            <div class="text-block">
                                Karelische Birke Maser
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid grid-2 grid-gap-half mb-1 mt-2 mobile-only" id="2">
                <div class="grid grid-2 grid-gap-half">
                    <a href="#1" class="btn">1.</a>
                    <a href="#2" class="btn btn-active">2.</a>
                </div>
                <a href="" class="btn">Charging Case</a>
            </div>
            <div class="playground-content">
                <div class="card card-playground">
                    
                    <div class="swiper flavourSwiper-2">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="flavour" style="background: #3EB491">
                                    <div class="name">Menthol</div>
                                    <div class="image">
                                        <img src="images/products/flavour/flavour.png" alt="Flavour">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="flavour" style="background: #297C68;">
                                    <div class="name">Sumatran Fog</div>
                                    <div class="image">
                                        <img src="images/products/flavour/flavour.png" alt="Flavour">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="flavour" style="background: #EE9376;">
                                    <div class="name">Massilian Allure</div>
                                    <div class="image">
                                        <img src="images/products/flavour/flavour.png" alt="Flavour">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="flavour" style="background: #D66B27;">
                                    <div class="name">The Dawn of Summer</div>
                                    <div class="image">
                                        <img src="images/products/flavour/flavour.png" alt="Flavour">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="flavour" style="background: #819FCB;">
                                    <div class="name">Cold Haze</div>
                                    <div class="image">
                                        <img src="images/products/flavour/flavour.png" alt="Flavour">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper middleSwiper-2">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="middle-part" style="background: #c4c4c4">
                                    <div class="name">Silver</div>
                                    <div class="image">
                                        <img src="images/products/middle_part/middle_part_silver.png" alt="Silver">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper batterySwiper-2">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="battery" style="background: #D8BB99;">
                                    <div class="name">Ebonite</div>
                                    <div class="image">
                                        <img src="images/products/battery/01_white.png" alt="Battery">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="battery" style="background: #896956">
                                    <div class="name">Ebonite</div>
                                    <div class="image">
                                        <img src="images/products/battery/02_white.png" alt="Battery">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="battery" style="background: #415f46">
                                    <div class="name">Ebonite</div>
                                    <div class="image">
                                        <img src="images/products/battery/03_white.png" alt="Battery">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="battery" style="background: #415f46">
                                    <div class="name">Ebonite</div>
                                    <div class="image">
                                        <img src="images/products/battery/04_white.png" alt="Battery">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="battery" style="background: #415f46">
                                    <div class="name">Ebonite</div>
                                    <div class="image">
                                        <img src="images/products/battery/05_white.png" alt="Battery">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="battery" style="background: #415f46">
                                    <div class="name">Ebonite</div>
                                    <div class="image">
                                        <img src="images/products/battery/06_white.png" alt="Battery">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="battery" style="background: #415f46">
                                    <div class="name">Ebonite</div>
                                    <div class="image">
                                        <img src="images/products/battery/07_white.png" alt="Battery">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="battery" style="background: #CAC8C2">
                                    <div class="name">Ebonite</div>
                                    <div class="image">
                                        <img src="images/products/battery/08_white.png" alt="Battery">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="battery" style="background: #415f46">
                                    <div class="name">Ebonite</div>
                                    <div class="image">
                                        <img src="images/products/battery/09_white.png" alt="Battery">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="battery" style="background: #415f46">
                                    <div class="name">Ebonite</div>
                                    <div class="image">
                                        <img src="images/products/battery/10_white.png" alt="Battery">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="battery-color-picker-wrapper py-1">
                    <div class="grid grid-2">
                        <div class="battery-color-picker-icon">
                            <div class="color-picker-selected" id="c-selected-2" style="background: url('images/products/battery/colors/01_white.png')"></div>
                            <div class="color-picker-colors" id="c-2">
                                <div class="grid grid-color-picker">
                                    <div class="picker-color-2" id="c-2-01" data-bg="images/products/battery/colors/01_white.png" style="background: url('images/products/battery/colors/01_white.png')"></div>
                                    <div class="picker-color-2" id="c-2-02" data-bg="images/products/battery/colors/02_white.png" style="background: url('images/products/battery/colors/02_white.png')"></div>
                                    <div class="picker-color-2" id="c-2-03" data-bg="images/products/battery/colors/03_white.png" style="background: url('images/products/battery/colors/03_white.png')"></div>
                                    <div class="picker-color-2" id="c-2-04" data-bg="images/products/battery/colors/04_white.png" style="background: url('images/products/battery/colors/04_white.png')"></div>
                                    <div class="picker-color-2" id="c-2-05" data-bg="images/products/battery/colors/05_white.png" style="background: url('images/products/battery/colors/05_white.png')"></div>
                                    <div class="picker-color-2" id="c-2-06" data-bg="images/products/battery/colors/06_white.png" style="background: url('images/products/battery/colors/06_white.png')"></div>
                                    <div class="picker-color-2" id="c-2-07" data-bg="images/products/battery/colors/07_white.png" style="background: url('images/products/battery/colors/07_white.png')"></div>
                                    <div class="picker-color-2" id="c-2-08" data-bg="images/products/battery/colors/08_white.png" style="background: url('images/products/battery/colors/08_white.png')"></div>
                                    <div class="picker-color-2" id="c-2-09" data-bg="images/products/battery/colors/09_white.png" style="background: url('images/products/battery/colors/09_white.png')"></div>
                                    <div class="picker-color-2" id="c-2-10" data-bg="images/products/battery/colors/10_white.png" style="background: url('images/products/battery/colors/10_white.png')"></div>
                                </div>
                            </div>
                        </div>
                        <a href="#2" class="btn mobile-only">Next step</a>
                    </div>
                </div>
                <div class="product-info accordion-wrapper mt-1 mobile-only">
                    <div class="accordion">
                        <div class="accordion-header">
                            <div>Product information</div>
                            <div class="accordion-arrow">
                                <span>+</span>
                            </div>
                        </div>
                        <div class="accordion-content">
                            <div class="text-block">
                                The world’s most stunning e-cigarette. Lorem ipsum sit amet lorem ipsum sit amet ipsum sit amet lorem ipsum sit amet  ipsum sit amet lorem ipsum sit amet.
                            </div>
                        </div>
                    </div>
                    <div class="accordion">
                        <div class="accordion-header">
                            <div>Flavour</div>
                            <div class="accordion-arrow">
                                <span>+</span>
                            </div>
                        </div>
                        <div class="accordion-content accordion-flavour">
                            <img src="images/products/flavour/sumatran-fog.png" alt="Sumatran Fog">
                            <div class="text-block overlay-text-block">
                                <div class="grid grid-2">
                                    <div class="flavour-name">
                                        <div class="color" style="background: #3eb491;"></div>
                                        <div class="name">Sumatran Fog</div>
                                    </div>
                                    <div class="hashtags">
                                        <div>#lorem</div>
                                        <div>#ipsum</div>
                                        <div>#sit amet</div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-block mt-1">
                                The world’s most stunning e-cigarette. Lorem ipsum sit amet lorem ipsum sit amet ipsum sit amet lorem ipsum sit amet  ipsum sit amet lorem ipsum sit amet.
                            </div>
                        </div>
                    </div>
                    <div class="accordion">
                        <div class="accordion-header">
                            <div>Middle part</div>
                            <div class="accordion-arrow">
                                <span>+</span>
                            </div>
                        </div>
                        <div class="accordion-content">
                            <div class="text-block">
                                Silver
                            </div>
                        </div>
                    </div>
                    <div class="accordion">
                        <div class="accordion-header">
                            <div>Battery</div>
                            <div class="accordion-arrow">
                                <span>+</span>
                            </div>
                        </div>
                        <div class="accordion-content">
                            <div class="text-block">
                                Karelische Birke Maser
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="package-summary desktop-only">
                <h2 class="sub mb-2">You have choosen this kit:</h2>
                <p>Lade etui</p>
                <p>Lorem ipsum sit amet lorem ipsum sit amet ipsum sit amet lorem ipsum sit amet ipsum sit amet lorem ipsum sit amet.</p>
                <div class="pack-carnault">
                    <p>Carnault 1:</p>
                    <div class="flex flex-row flex-space-between flex-row-center rel">
                        <p>Flavour</p>
                        <div class="flavour-name">
                            <div class="color" style="background: #3eb491;"></div>
                            <div class="name"><p>Menthol</p></div>
                        </div>
                    </div>
                    <div class="flex flex-row flex-space-between flex-row-center">
                        <p>Middle Part</p>
                        <p>Silver</p>
                    </div>
                    <div class="flex flex-row flex-space-between flex-row-center">
                        <p>Battery</p>
                        <p>Ebonite</p>
                    </div>
                </div>
                <div class="pack-carnault">
                    <p>Carnault 2:</p>
                    <div class="flex flex-row flex-space-between flex-row-center rel">
                        <p>Flavour</p>
                        <div class="flavour-name">
                            <div class="color" style="background: #EE9376;"></div>
                            <div class="name"><p>Massilian</p></div>
                        </div>
                    </div>
                    <div class="flex flex-row flex-space-between flex-row-center">
                        <p>Middle Part</p>
                        <p>Silver</p>
                    </div>
                    <div class="flex flex-row flex-space-between flex-row-center">
                        <p>Battery</p>
                        <p>Karelische Birke Maser</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include "script-accordion.html" %}
    {% include "script-playground-swiper.html" %}
    {% include "script-color-picker.html" %}

{% endblock %}
