{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="flex flex-row flex-space-between flex-row-center">
            <h1 class="sub">Webshop</h1>
            <h1 class="sub">Total: 370€</h1>
        </div>
    </div>
    <section class="py-1">
        <div class="container">
            <div class="grid grid-2 mb-1" id="1">
                <div class="grid grid-2">
                    <a href="#1" class="btn btn-active">1.</a>
                    <a href="#2" class="btn">2.</a>
                </div>
                <a href="" class="btn">Charging Case</a>
            </div>
            <div class="package-content">
                <div class="card card-playground">
                    
                    <div class="swiper flavourSwiper-1">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="flavour" style="background: #3eb491">
                                    <div class="name">Menthol</div>
                                    <div class="image">
                                        <img src="images/products/flavour/flavour.png" alt="Flavour">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="flavour" style="background: #ccc">
                                    <div class="name">Flavour</div>
                                    <div class="image">
                                        <img src="images/products/flavour/flavour.png" alt="Flavour">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="flavour" style="background: #cc0000">
                                    <div class="name">Dummy</div>
                                    <div class="image">
                                        <img src="images/products/flavour/flavour.png" alt="Flavour">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper middleSwiper-1">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="middle-part" style="background: #c4c4c4">
                                    <div class="name">Silver</div>
                                    <div class="image">
                                        <img src="images/products/middle_part/middle_part_silver.png" alt="Silver">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper batterySwiper-1">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" data-id="c-1-1">
                                <div class="battery" style="background: #415f46">
                                    <div class="name">Ebonite</div>
                                    <div class="image">
                                        <img src="images/products/battery/01_white.png" alt="Battery">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" data-id="c-1-2">
                                <div class="battery" style="background: #415f46">
                                    <div class="name">Ebonite</div>
                                    <div class="image">
                                        <img src="images/products/battery/02_white.png" alt="Battery">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" data-id="c-1-3">
                                <div class="battery" style="background: #415f46">
                                    <div class="name">Ebonite</div>
                                    <div class="image">
                                        <img src="images/products/battery/03_white.png" alt="Battery">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" data-id="c-1-4">
                                <div class="battery" style="background: #415f46">
                                    <div class="name">Ebonite</div>
                                    <div class="image">
                                        <img src="images/products/battery/04_white.png" alt="Battery">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="battery-color-picker-wrapper py-1">
                    <div class="grid grid-2">
                        <div class="battery-color-picker-icon">
                            <div class="color-picker-selected" id="c-selected-1" style="background: url('images/products/battery/colors/01_white.png')"></div>
                            <div class="color-picker-colors" id="c-1">
                                <div class="grid grid-color-picker">
                                    <div class="picker-color" id="c-1-1" data-bg="images/products/battery/colors/01_white.png" style="background: url('images/products/battery/colors/01_white.png')"></div>
                                    <div class="picker-color" id="c-1-2" data-bg="images/products/battery/colors/02_white.png" style="background: url('images/products/battery/colors/02_white.png')"></div>
                                    <div class="picker-color" id="c-1-3" data-bg="images/products/battery/colors/03_white.png" style="background: url('images/products/battery/colors/03_white.png')"></div>
                                    <div class="picker-color" id="c-1-4" data-bg="images/products/battery/colors/04_white.png" style="background: url('images/products/battery/colors/04_white.png')"></div>
                                    <div class="picker-color" id="c-1-5" style="background: url('images/products/battery/colors/05_white.png')"></div>
                                    <div class="picker-color" id="c-1-6" style="background: url('images/products/battery/colors/06_white.png')"></div>
                                    <div class="picker-color" id="c-1-7" style="background: url('images/products/battery/colors/07_white.png')"></div>
                                    <div class="picker-color" id="c-1-8" style="background: url('images/products/battery/colors/08_white.png')"></div>
                                    <div class="picker-color" id="c-1-9" style="background: url('images/products/battery/colors/09_white.png')"></div>
                                    <div class="picker-color" id="c-1-10" style="background: url('images/products/battery/colors/10_white.png')"></div>
                                </div>
                            </div>
                        </div>
                        <a href="#2" class="btn">Next step</a>
                    </div>
                </div>
                <div class="product-info accordion-wrapper mt-1">
                    <div class="accordion">
                        <div class="accordion-header">
                            <div>Product information</div>
                            <div class="accordion-arrow">
                                <span>+</span>
                            </div>
                        </div>
                        <div class="accordion-content">
                            <div class="text-block">
                                The world’s most stunning e-cigarette. Lorem ipsum sit amet lorem ipsum sit amet ipsum sit amet lorem ipsum sit amet  ipsum sit amet lorem ipsum sit amet.
                            </div>
                        </div>
                    </div>
                    <div class="accordion">
                        <div class="accordion-header">
                            <div>Flavour</div>
                            <div class="accordion-arrow">
                                <span>+</span>
                            </div>
                        </div>
                        <div class="accordion-content accordion-flavour">
                            <img src="images/products/flavour/sumatran-fog.png" alt="Sumatran Fog">
                            <div class="text-block overlay-text-block">
                                <div class="grid grid-2">
                                    <div class="flavour-name">
                                        <div class="color" style="background: #3eb491;"></div>
                                        <div class="name">Sumatran Fog</div>
                                    </div>
                                    <div class="hashtags">
                                        <div>#lorem</div>
                                        <div>#ipsum</div>
                                        <div>#sit amet</div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-block mt-1">
                                The world’s most stunning e-cigarette. Lorem ipsum sit amet lorem ipsum sit amet ipsum sit amet lorem ipsum sit amet  ipsum sit amet lorem ipsum sit amet.
                            </div>
                        </div>
                    </div>
                    <div class="accordion">
                        <div class="accordion-header">
                            <div>Middle part</div>
                            <div class="accordion-arrow">
                                <span>+</span>
                            </div>
                        </div>
                        <div class="accordion-content">
                            <div class="text-block">
                                Silver
                            </div>
                        </div>
                    </div>
                    <div class="accordion">
                        <div class="accordion-header">
                            <div>Battery</div>
                            <div class="accordion-arrow">
                                <span>+</span>
                            </div>
                        </div>
                        <div class="accordion-content">
                            <div class="text-block">
                                Karelische Birke Maser
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid grid-2 mb-1 mt-2" id="2">
                <div class="grid grid-2">
                    <a href="#1" class="btn">1.</a>
                    <a href="#2" class="btn btn-active">2.</a>
                </div>
                <a href="" class="btn">Charging Case</a>
            </div>
            <div class="package-content">
                <div class="card card-playground">
                    
                    <div class="swiper flavourSwiper-2">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="flavour" style="background: #ee9376">
                                    <div class="name">Menthol</div>
                                    <div class="image">
                                        <img src="images/products/flavour/flavour.png" alt="Flavour">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="flavour" style="background: #ccc">
                                    <div class="name">Flavour</div>
                                    <div class="image">
                                        <img src="images/products/flavour/flavour.png" alt="Flavour">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="flavour" style="background: #cc0000">
                                    <div class="name">Dummy</div>
                                    <div class="image">
                                        <img src="images/products/flavour/flavour.png" alt="Flavour">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper middleSwiper-2">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="middle-part" style="background: #c4c4c4">
                                    <div class="name">Silver</div>
                                    <div class="image">
                                        <img src="images/products/middle_part/middle_part_silver.png" alt="Silver">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper batterySwiper-2">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="battery" style="background: #415f46">
                                    <div class="name">Ebonite</div>
                                    <div class="image">
                                        <img src="images/products/battery/22_white.png" alt="Battery">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="battery" style="background: #415f46">
                                    <div class="name">Ebonite</div>
                                    <div class="image">
                                        <img src="images/products/battery/01_white.png" alt="Battery">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="battery" style="background: #415f46">
                                    <div class="name">Ebonite</div>
                                    <div class="image">
                                        <img src="images/products/battery/02_white.png" alt="Battery">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="battery" style="background: #415f46">
                                    <div class="name">Ebonite</div>
                                    <div class="image">
                                        <img src="images/products/battery/03_white.png" alt="Battery">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="product-info accordion-wrapper mt-1">
                    <div class="accordion">
                        <div class="accordion-header">
                            <div>Product information</div>
                            <div class="accordion-arrow">
                                <span>+</span>
                            </div>
                        </div>
                        <div class="accordion-content">
                            <div class="text-block">
                                The world’s most stunning e-cigarette. Lorem ipsum sit amet lorem ipsum sit amet ipsum sit amet lorem ipsum sit amet  ipsum sit amet lorem ipsum sit amet.
                            </div>
                        </div>
                    </div>
                    <div class="accordion">
                        <div class="accordion-header">
                            <div>Flavour</div>
                            <div class="accordion-arrow">
                                <span>+</span>
                            </div>
                        </div>
                        <div class="accordion-content accordion-flavour">
                            <img src="images/products/flavour/sumatran-fog.png" alt="Sumatran Fog">
                            <div class="text-block overlay-text-block">
                                <div class="grid grid-2">
                                    <div class="flavour-name">
                                        <div class="color" style="background: #3eb491;"></div>
                                        <div class="name">Sumatran Fog</div>
                                    </div>
                                    <div class="hashtags">
                                        <div>#lorem</div>
                                        <div>#ipsum</div>
                                        <div>#sit amet</div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-block mt-1">
                                The world’s most stunning e-cigarette. Lorem ipsum sit amet lorem ipsum sit amet ipsum sit amet lorem ipsum sit amet  ipsum sit amet lorem ipsum sit amet.
                            </div>
                        </div>
                    </div>
                    <div class="accordion">
                        <div class="accordion-header">
                            <div>Middle part</div>
                            <div class="accordion-arrow">
                                <span>+</span>
                            </div>
                        </div>
                        <div class="accordion-content">
                            <div class="text-block">
                                Silver
                            </div>
                        </div>
                    </div>
                    <div class="accordion">
                        <div class="accordion-header">
                            <div>Battery</div>
                            <div class="accordion-arrow">
                                <span>+</span>
                            </div>
                        </div>
                        <div class="accordion-content">
                            <div class="text-block">
                                Karelische Birke Maser
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include "script-accordion.html" %}
    {% include "script-playground-swiper.html" %}
    {% include "script-color-picker.html" %}

{% endblock %}
