{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1 class="sub">Webshop</h1>
    </div>
    <section class="pb-4 noborder">
        <div class="container">
            <h1 class="mb-2">Package</h1>
            <a href="package.html">
                <div class="card card-package">
                    <div class="card-info flex flex-row flex-space-between flex-row-center">
                        <div class="name">Carnault Ebonite</div>
                        <div class="price">150€</div>
                    </div>
                    <div class="card-image my-3 pt-2">
                        <img src="images/package.png" alt="Carnault Ebonite">
                    </div>
                </div>
            </a>
        </div>
    </section>
    <section class="py-2">
        <div class="container">
            <h1>Create your own!</h1>
            <img src="images/simple-product.png" alt="Create your own Carnault!">
            <div class="info-block">
                <p class="my-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati eligendi, cum dolor aliquam facilis molestias vel pariatur enim id, excepturi quas dolorum, ut illum rerum repellat ea tenetur alias temporibus?</p>
                <a href="playground.html" class="btn mt-1">Create your own</a>
            </div>
        </div>
    </section>

    <section class="py-3">
        <div class="container">
            <h1>Special request</h1>
            <img src="images/icons/special-request.svg" alt="Special request">
            <p class="mt-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum quis blanditiis exercitationem delectus.</p>
            <form action="">
                <input type="text" placeholder="Name">
                <input type="text" placeholder="Email">
                <input type="text" placeholder="Phone">
                <textarea name="message" id="" cols="30" rows="10" placeholder="Extra demand"></textarea>
                <input type="submit" value="Contact Us" class="btn mt-1">
            </form>
        </div>
    </section>
{% endblock %}
