.btn {
    font-size: 18px;
    line-height: 30px;
    border: 1px solid $white;
    color: $white;
    background: $black;
    box-sizing: border-box;
    border-radius: 29px;
    padding: .2rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover,
    &.btn-active {
        color: $black;
        background: $white;
    }
}